{% extends 'navbar.html' %}
{%block title_block %} Profile {%endblock%}

{% block body_block %}

<!-- user profile section -->

<div class="row">
    <div class="col-sm-4">
        {% if user.student_profile.profile_picture %}
        <img src="/media/{{user.student_profile.profile_picture}}" alt="" width="250px" height="250px"
            class="rounded-circle">
        {% elif user.instructor_profile.profile_picture %}
        <img src="/media/{{user.instructor_profile.profile_picture}}" width="250px" height="250px" class="rounded-circle" alt="default">
        {% else %}
        <img src="/static/images/unisex_avatar.jpg" width="250px" height="250px" class="rounded-circle" alt="default">
        {% endif %}
    </div>
    <div class="col-sm-8"><br><br>
        {% if user.student_profile %}
        <strong>Full name: </strong>{{user.student_profile.fullname}} <br>
        <strong>User name: </strong>{{user.username}} <br>
        <strong>Email address: </strong> {{user.email}} <br>
        <strong>About: </strong>{{user.student_profile.about}} <br><br>
        {% else %}
        <strong>Full name: </strong>{{user.instructor_profile.fullname}} <br>
        <strong>User name: </strong>{{user.username}} <br>
        <strong>Email address: </strong> {{user.email}} <br>
        <strong>About: </strong>{{user.instructor_profile.about}} <br><br>
        {% endif %}
        
        {% if user.student_profile %}
        <a href="{% url 'login_app:edit_student' %}" class="btn btn-info btn-sm">Edit student</a>
        {% else %}
        <a href="{% url 'login_app:edit_instructor' %}" class="btn btn-info btn-sm">Edit instructor</a>
        <a href="{% url 'course_app:publish_course' %}" class="btn btn-primary btn-sm">Publish a course</a>
        {% endif %}
    </div>
</div><hr>
<div class="row">
    {% if user.student_profile %} 
    {% for course in Enrol.enrolled_course.all %}
    <div class="col">
        <a href="#"><img src="/media/{{course.image}}" alt="" width="100px" height="100px">
        <Strong>{{course.course_title}}</Strong> </a><p>Published by: 
        <img src="/media/{{course.instructor.profile_picture}}" alt="" width="23px" height="23px" class="rounded-circle">{{course.instructor}} </p>
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}