{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %} Sign up {% endblock %}
{% block css_block %}
<style>
    .sign-up {
        width: 425px;
        border: 1px solid #ccc;
        padding: 40px;
    }

    .login {
        width: 425px;
        border: 1px solid #ccc;
        padding: 40px;
    }
</style>
{% endblock %}
{% block body_block %}
<center>
    <div class="form-container">
        <div class="row">
            <div class="col-sm-6">
                <div class="sign-up">
                    <h4>Sign up as a Teacher</h4><br>
                    <form action="" method="POST">
                        {{teacher_form|crispy}}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary btn-sm">sign up</button>
                    </form>
                </div>
                <div class="login my-3">
                    <p>Have a teacher account? <a href="#">Login here</a></p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="sign-up">
                    <h4>Sign up as a Student</h4><br>
                    <form action="" method="POST">
                        {{student_form|crispy}}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary btn-sm">sign up</button>
                    </form>
                </div>
                <div class="login my-3">
                    <p>Have a student account? <a href="#">Login here</a></p>
                </div>
            </div>
        </div>
    </div>
</center>
{% endblock %}