{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %} Sign up {% endblock %}
{% block css_block %}
<style>
    .sign-up {
        width: 425px;
        border: 1px solid #ccc;
        padding: 40px;
    }
</style>
{% endblock %}
{% block body_block %}
{% if teacher %}
<center><h2>Enter as an Instructor</h2><br></center>
{% else %}
<center><h2>Enter as a Student</h2><br></center>
{% endif %}
<center>
    <div class="form-container">
        <div class="row">
            <div class="col">
                {% if teacher %}
                <div class="sign-up">
                    <h4>Instrcutor sign up &nbsp; <a href="{% url 'login_app:startpage' %}">Home</a></h4><br>
                    <form action="" method="POST">
                        {{signup_form|crispy}}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary btn-sm">sign up</button>
                    </form>
                </div>
                {% else %}
                <div class="sign-up">
                    <h4>Student sign up &nbsp; <a href="{% url 'login_app:startpage' %}">Home</a></h4><br>
                    <form action="" method="POST">
                        {{signup_form|crispy}}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary btn-sm">sign up</button>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</center>
{% endblock %}